html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  padding: 20px;
  display: flex;
  height: 90vh; /* 高度占满屏幕 */
}

.left {
  display: grid;
  width: 75%; /* 左边部分占屏幕宽度的25% */
  height: 90vh; /* 高度占屏幕的100% */
  background-color: lightblue; /* 背景色可以根据需求调整 */
  
}

.right {
  display: flex;
  flex-direction: column; /* 垂直方向排布 */
  width: 25%; /* 右边部分占屏幕宽度的75% */
}

.right-top{
  height: 20%;
  background-color: lightgreen;
}
.right-mid{
  height: 60%;
  background-color: lightgreen; /* 背景色可以根据需求调整 */
}
.right-bottom {
  display: flex;
  height: 20%;
  background-color: lightgreen;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}